@import "tailwindcss";

@theme{
    --color-primary: #2E3092;
    --color-secondary: #252625;
    --color-danger: #DC2626;
    --color-grayish: #A7A7A8;
    --color-light: #DEDEE8;
    --color-background: #D6E6FF;
}