@import "tailwindcss";

@theme {
  --color-primary: #2e3092;
  --color-secondary: #252625;
  --color-danger: #9a2e2e;
  --color-grayish: #a7a7a8;
  --color-light: #dedee8;
  --color-background: #d6e6ff;
  --color-action: #2e8b57;
}
